<% title "Edit Role" %>

<% form_for(@role) do |f| %>
  	<%= f.error_messages %>
	<table class="managementEditTable">
		<tr>
			<th>Name</th>
			<th>Repositories available for the user</th>
		</tr>	
    	<tr>
			<td><%= f.text_field :name %></td>
			<td><%= render :partial => "repositories" %></td>
		</tr>
	</table>	
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %>