<% title "Roles List" %>

<div class="innerInnerContent">
	<table class="managementListTable">
  		<tr>
		    <th>Name</th>
			<th class="last"></th>
		</tr>

		<% @roles.each do |role| %>
		<tr>
		    <td><%=h role.name %></td>
		    <td class="last">
				<%= link_to 'Show', role %>
				<%= link_to 'Edit', edit_role_path(role) %>
				<%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		 </tr>
		<% end %>
	</table>
</div>
<br />

<%= link_to 'New role', new_role_path %>