<div id="user_nav">
  	
	<% if current_user %>  
		<%= current_user.email %> 
		|
		<%= link_to "Profile", edit_user_path(current_user.id) %>  
		<%= link_to "Sign out", logout_path %>  
	<% else %>  
		<%= link_to "Sign up", new_user_path %>  
		|
		<%= link_to "Sign in", login_path %>  
	<% end %>
</div>