<h1>Listing hosts</h1>

<% form_tag '/hosts/index', :method => 'get' do %>
  <p>
	<%= text_field_tag :filter, params[:filter]%>	
	<%= submit_tag "URL", :name => nil%>
  </p>
<% end -%>


<% @hosts.each do |uri, host_props| %>
	<h1>
	<%=h uri  %>  
	</h1>
	<table>
	  <tr>
	    <th>Field</th>
	    <th>Value</th>
	    <th>Database</th>
	  </tr>
	<% host_props.each do |host_prop| %>
  		<tr>	
		 	<td><%=h host_prop.name  %> </td>
		 	<td><%=h host_prop.value  %> </td>
		 	<td><%=h host_prop.source_uri  %> </td> 	
		</tr>		
  	<% end %>
	</table>
<% end %>