<% if @hosts.nil? or @hosts.empty?%>
	No results fetched.
<% else %>

<% @hosts.each do |uri, host_props| %>

	<h1>
		Host address: <%=h uri  %>  
	</h1>
	<table>
	  <tr>
	    <th>Field</th>
	    <th>Value</th>
	    <th>Repository name</th>
		<th>Repository address</th>
	  </tr>
	<% host_props.each do |host_prop| %>
  		<tr>	
		 	<td><%=h host_prop.name  %> </td>
			<td><%=h host_prop.value  %> </td>
		 	<td><%=h host_prop.source_name  %> </td> 	
			<td><%=h host_prop.source_uri  %> </td>
		</tr>		
  	<% end %>
	</table>
<% end %>
<% end %>